li p{
    font-family: 'Roboto Condensed';
}


li p::after {
    content: '';
    height: 2px;
    width: 0;
    background: red;
    display: block;
    position: absolute;
    bottom: -5px;
    transition: width 0.2s;
}

li p:hover::after {
    width: 100%;}

nav div input:focus {
    outline-width: 0;
}

nav div input::placeholder {
    font-family: "Roboto Condensed";
    font-size: 18px;
    color: black;
}